<div class="center jumbotron">
	<h1>Replay to <%= @to_micropost.user.name %></h2>
	<h3><%= @to_micropost.content %></h3>
	<%= image_tag @to_micropost.picture %>

</div>
<%= render 'shared/micropost_form' %>
